*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* changes */
  /* body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;


  } */
 
.responsiveimg{
    width: 100%;
    height: auto;
    max-width: 12vh;   
}
  .contains{
    /* background-color: red; */
    height:80vh;
    width: 90vw;
    background-color: #05AFEF;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #888888;
  
  }
  .boxx{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
 margin-top: -5px;
    height: 70.5vh;
   
    flex-wrap: wrap;
    justify-content: space-around;

  }
  .leftt{
    /* background-color: grey; */
  
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .rightt{
    /* background-color: yellow; */
    height: inherit;
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .heading{
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Inter', sans-serif;
    color: #333333;
    /* font: inherit; */
    font-weight: bold;
   
  }
  .fbox{
    height: 15vh;
    width: 30vw;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
    text-align: center;
    border-radius: 10px;
    display: flex;
  }
  .s-left{
    width: 30vw;
    height: inherit;
    /* background-color: grey; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .s-right{
    width: 70vw;
    height: inherit;
background-color: white;
font-size: 1vw;
display: flex;
justify-content: space-around;
flex-direction: column;
padding: 1rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: #595252;
    font-weight: bold;
  }
  .girlDoctor{
    max-height: 100vh;
    position:relative;
    height: 85vh;
  top: -5px;
  }