*{
    border: 1px solid black;
}

.Containerbox{
    height: 90vh;
    width: 100%;
    background-color: #05AFEF;
    display: flex;
    flex-direction: column;
}
.heading{
    height: auto;
    width: fit-content;
    text-align: center;
    display: inline-block;
    margin:10px auto;
    font-size: 2rem;
    letter-spacing: 1px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    
}
.imgset{
    height:10rem;
    width: auto;
    position: relative;
    left: 80px;
    bottom: -50px;
    

    

}
.left-side{
    width: 50%;
    height: inherit;
    background-color: green;
   
    
}
.right-side{
box-sizing: border-box;
height: inherit;
    width: 50%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.item{
    height: 10vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center ;
    

}
